.header {
    background-color: antiquewhite;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.AdminHeader {
    margin-top: 10px;
}

h1 {
    margin: auto;
    text-align: center;
    margin-top: 98px;
}

.Para {
    font-size: larger;
    font-family: sans-serif;
    font-weight: 400;
    display: flex;
}



.Para p {
    padding: 0px 36px;
}

.Para p a {
    text-decoration: none;
}

.headimg {
    width: 71px;
}

.headimg img {
    width: 100%
}

.hero-section {
    background-image: url("./assets/IMAGES/BACKGROUND.png");
    height: 100vh;
}

.adminpanel {

    margin-left: 195px;
    font-size: 41px;
    font-family: monospace;
}

.Footer {
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    display: flex;
    padding: 20px;
    bottom: 0px;
    width: 100%;
}

.fpara {
    margin: auto;
    text-align: center;
}

.SignoutButton {
    display: flex;
    justify-content: end;

}

.card {
    border: 2px solid black;
}

.laptopsss {
    position: relative;
    background-color: cornsilk;
    font-family: fantasy;
}

.Footer {
    background-color: antiquewhite;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.email {
    margin: auto;
    text-align: center;
}